.subcategories-container {
  margin-top: 8rem;
  background-color: rgb(68, 255, 0);
  border-radius: 10px;
  width: 90%;
  height: 77%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.subcategory-container {
  background-color: burlywood;
  height: auto;
  width: 50%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* overflow: hidden; */
  padding: 1%;
  box-sizing: border-box;
  gap: 8px;
}

.subcategories {
  background-color: red;
  height: 70px;
  width: 70px;
  border-radius: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-size: x-small;
  font-weight: 600;
  padding: 7%;
  cursor: pointer;
}
