.store-card {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 200px;
  /* border-radius: 4px; */
  position: relative;
  gap: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.store-card:hover {
  transform: translateY(-5px);
  box-shadow: 5px 9px 7px rgba(0, 0, 0, 0.3);
}

.store-card img {
  height: 170px;
  width: 50%;
  min-width: 170px;
  max-width: 50%;
  object-fit: contain;
  background: #ebebeb;
  border-radius: 2px;
  top: 0;
}

.information-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.information-container p {
  margin-bottom: 0px;
  margin-top: 0px;
}

.card-store-name-type {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1px;
  width: 100%;
}

.card-store-name {
  font-weight: 600;
  text-transform: uppercase;
  color: #2b3237;
  /* overflow: hidden; */
  /* white-space: nowrap; */
  /* text-overflow: ellipsis; */
  /* width: 100%; */
  /* font-size: 20px; */
  /* font-size: 22px; */
  /* width: 100%; */
  /* background: red; */
}

.card-retailer {
  font-size: 11px;
  font-weight: 600;
  color: gray;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card-store-location {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card-store-distance {
  font-weight: 600;
  font-size: 18px;
}
.card-distance-span {
  display: flex;
  align-items: center;
  color: #19ac4f;
}

.card-store-address {
  color: #2b3237;
  font-size: 14px;
}

.bg-img {
  position: absolute;
  width: 100%;
  opacity: 22%;
  z-index: 0;
  /* transform: scale(4.5); */
}
