.account-container {
  width: 90%;
  height: 86vh;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 16px;
  border-radius: 1px;
  position: relative;
}

.account-container img {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 40%;
  object-fit: contain;
}

.seller-section {
  background-color: white;
  width: 90%;
  height: 20%;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.profile-text-inputs {
  width: 30%;
  border-radius: 0;
}

.user-info {
  width: 94%;
  /* height: 34rem; */
  /* border-radius: 10px; */
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  /* overflow: auto; */
  padding: 0px 30%;
  gap: 28px;
  z-index: 10;
}
.profile-pic-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-pic {
  background-color: #2e61ff;
  border-radius: 48px;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 3%;
  color: white;
  cursor: pointer;
}

.all-info p {
  margin: 0;
  font-weight: 600;
  color: #3c3c3c;
}
.gender-container {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  width: 100%;
}

.gender-container select {
  width: 98%;
  height: 40px;
  background: #000000cf;
  color: white;
  font-size: 14px;
}

.gender-container select:focus {
  outline: none;
}

.account-container input {
  /* border: none; */
  border: 1px solid white;
  background-color: #000000cf;
  color: white;
  border-radius: 1px;
  margin-bottom: 14px;
}

.account-container input:focus {
  outline: none;
}

.footer {
  display: flex;
  justify-content: center;
}

.footer button {
  width: 130px;
  height: 41px;
  border: none;
  border-radius: 50px;
  background: #3121cf;
  color: #ffffff;
  font-size: 17px;
  transition: all 0.4s;
}

.footer button:hover {
  box-shadow: 0px 0px 7px rgb(17, 17, 164);
}
