.loader {
  border: 3px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.time {
  height: 10%;
  width: 40%;
  background-color: black;
  color: green;
  font-size: xx-large;
  border-radius: 10px;
  display: flex;
  margin: auto;
}

.api-loader-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #0000005a;
  z-index: 400;
  display: flex;
  align-items: center;
  justify-content: center;
}
