.category-container {
  width: 90%;
  background-color: blueviolet;
  height: 7rem;
  border-radius: 10px;
  overflow: hidden;
  position: absolute;
  display: flex;
  transition: height 0.8s ease;
  top: 15px;
  z-index: 100;
}

.category-container.expanded {
  height: 13rem;
}

.category-icon-container {
  height: 65px;
  margin: 9px 10px;
}

.category-container button {
  position: absolute;
  top: 0;
  right: 0;
}

.category-icon {
  height: 70px;
  background-color: white;
  border-radius: 68px;
  margin-top: 15px;
  margin-left: 23px;
  margin-bottom: 15px;
  /* margin: 23px 15px */
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.category-icon:hover {
  box-shadow: 0 0 5px rgb(60, 60, 60);
}
