.category-parent {
  width: 100%;
  /* margin-left: 9rem; */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
}

.category-title {
  font-size: 26px;
  margin-bottom: 13px;
  font-weight: bold;
  text-align: start;
  width: 100%;
  padding-left: 10%;
}

.category-container {
  height: 250px;
  border-radius: 10px;
  display: flex;
  z-index: 100;
  width: 90%;
  overflow-x: scroll;
  scroll-behavior: smooth;
  white-space: nowrap;
}

.category-container-left {
  top: 150px;
  left: 55px;
  position: absolute;
  z-index: 100;
  height: 90px;
  border-radius: 7px 0px 0px 7px;
  width: 35px;
  border: none;
  background: rgb(0 0 0 / 50%);
  color: white;
  transition: all 0.3s;
}

.category-container-left:hover {
  background: rgba(0, 0, 0, 0.6);
}

.category-container-right {
  top: 150px;
  right: 55px;
  position: absolute;
  z-index: 100;
  height: 90px;
  border-radius: 0px 7px 7px 0px;
  width: 35px;
  border: none;
  background: rgb(0 0 0 / 50%);
  color: white;
  transition: all 0.3s;
}

.category-container-right:hover {
  background: rgb(0 0 0 / 60%);
}
.category-icon-container {
  display: grid;
  grid-auto-flow: column;
  gap: 35px;
}

.cat-image-container {
  height: 88%;
  display: flex;
  align-items: center;
  justify-content: start;
  border-radius: 10px;
  position: relative;
  width: 150px;
}

.cat-image-container p {
  width: 100%;
  white-space: wrap;
  padding: 5%;
  position: absolute;
  top: 0;
  /* font-weight: bold; */
  color: rgb(255 255 255);
}
.category-container button {
  position: absolute;
  top: 0;
  right: 0;
}

.category-icon {
  height: 180px;
  cursor: pointer;
  transition: box-shadow 0.3s ease, translate 0.5s;
  position: absolute;
  bottom: -14px;
  left: 10px;
}

.category-icon:hover {
  translate: 0px -5px;
}

::-webkit-scrollbar {
  height: 5px;
}

/* Handle */
