.store-div {
  width: 90%;
  height: 30rem;
  border-radius: 10px;
  margin-top: 130px;
}

.category-store-container {
  height: 624px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: -webkit-fill-available;
  height: 100%;
  margin-top: 50px;
}

.body-content {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 92vh;
}

.hero-space-container {
  width: 100%;
  /* background-color: aquamarine; */
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: end;
}

.hero-space-container img {
  width: 75%;
  height: 100%;
  margin-right: 10rem;
  transform: scale(1.2);
}

.hide-hero-image {
  height: 0px;
}
