.store-div {
  width: 90%;
  height: 30rem;
  border-radius: 10px;
}

.category-store-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.body-content {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 92vh;
  gap: 4rem;
}

.hero-space-container {
  width: 100%;
  /* background-color: aquamarine; */
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: end;
}

.hero-space-container img {
  width: 75%;
  height: 100%;
  margin-right: 10rem;
  transform: scale(1.2);
}

.hide-hero-image {
  height: 0px;
}
