.nav-bar {
  z-index: 100;
  background-color: blue;
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.right-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}

.search {
  width: 70%;
}

.side-bar {
  background-color: blue;
  color: white;
  width: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  transition: width 0.5s ease;
  position: absolute;
  z-index: 200;
  height: 100%;
  font-family: "Arial", sans-serif;
}

.side-bar.expanded {
  width: 15rem;
}

@media (max-width: 500px) {
  .side-bar {
    /* visibility: hidden; */
    z-index: 100;
    background-color: blue;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 630px;
    height: 40px;
    width: 100%;
    flex-direction: row;
  }
}

.category-store-container {
  background-color: yellow;
  height: 624px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 6rem;
  position: relative;
  width: -webkit-fill-available;
}

.body-content {
  display: flex;
  position: relative;
}

.sidebar-tabs {
  height: 135px;
  margin-bottom: 1px;
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5 px;
}

.sidebar-tabs:hover {
  background-color: rgb(86, 86, 235);
}

.sidebar-tabs i {
  font-size: 20px;
}

.sidebar-tabs p {
  margin-left: 5px;
}
