.store-parent {
  display: flex;
  flex-direction: column;
}

.store-title {
  font-size: 26px;
  margin-bottom: 13px;
  font-weight: bold;
  text-align: start;
  width: 100%;
  color: #2b3237;
}

.store-container {
  width: 100%;
  min-height: 487px;
  display: grid;
  /* grid-template-columns: auto auto auto; */
  grid-gap: 20px 20px;
  transition: grid-template-columns 1s;
  overflow-y: auto;
  overflow-x: hidden;
  background: rgb(223, 223, 233);
  box-sizing: border-box;
  padding: 1% 1%;
  position: relative;
}

@media (min-width: 1051px) {
  .store-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 651px) and (max-width: 1050px) {
  .store-container {
    grid-template-columns: 1fr 1fr;
  }
}

/* Media query for screens less than 451px */
@media (max-width: 650px) {
  .store-container {
    grid-template-columns: 1fr;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c62e2e00;
}
