.store-container {
  font-family: "Arial", sans-serif;
}

.store-container {
  width: 90%;
  background-color: aqua;
  height: 30rem;
  border-radius: 10px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 5px 15px;
  padding: 4px;
  transition: grid-template-columns 1s;
  margin-top: 130px;
  overflow-y: auto; /*scroll*/
  overflow-x: hidden;
}

@media (min-width: 1051px) {
  .store-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 651px) and (max-width: 1050px) {
  .store-container {
    grid-template-columns: 1fr 1fr;
  }
}

/* Media query for screens less than 451px */
@media (max-width: 650px) {
  .store-container {
    grid-template-columns: 1fr;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(142, 125, 125, 0.948);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #201d1d81;
}

.store-card {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 200px;
  border-radius: 10px;
  position: relative;
  gap: 10px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.store-card:hover {
  background-color: rgba(245, 243, 243, 0.997);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.store-card img {
  height: 130px;
  min-width: 140px;
  top: 0;
}

.information-container {
  flex: 1;
}
