.nav-bar {
  z-index: 200;
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: transparent;

  transition: all 0.5s ease;
}

.nav-background {
  background-color: rgb(223, 223, 233);
}

.right-container {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 30%;
  gap: 10px;
}

.left-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.left-container img {
  height: 45px;
  margin-left: 38px;
}

.search-container {
  width: 0%;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0px 6px;
  position: relative;
  transition: width 0.5s ease, background-color 0.5s ease;
}

.click-search {
  width: 60%;
  background-color: rgba(0, 0, 0, 0.36);
  border: 1px solid rgba(0, 0, 0, 0.36);
}

.search {
  border: none;
  background: transparent;
  color: white;
}

.search:focus {
  outline: none;
}

@media (max-width: 800px) {
  .search {
    visibility: hidden;
  }
}

.right-container button {
  padding: 3%;
  border: none;
  color: blue;
  font-weight: 600;
  cursor: pointer;
}

.sandwich-div {
  width: 1px;
  cursor: pointer;
}

.search-result {
  height: auto;
  max-height: 20rem;
  min-height: 4rem;
  width: 21rem;
  background-color: rgb(0 0 0 / 73%);
  position: absolute;
  top: 48px;
  right: 0px;
  display: grid;
  grid-template-rows: 1fr;
  gap: 10px;
  padding: 13px 0px;
  overflow: auto;
  border-radius: 1px;
  box-shadow: 0px 0px 8px #0000003d;
  border: 1px solid black;
  color: white;
  transition: height 0.5s;
}

.search-image-container {
  width: 73px;
  height: 100%;
}

.product {
  height: 63px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 12px;
  cursor: pointer;
}

.product:hover {
  background-color: rgba(65, 65, 65, 0.518);
}
.search-image-container img {
  /* height: 60px; */
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.image-name-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  gap: 10px;
}

@media (max-width: 700px) {
  .search-container {
    visibility: hidden;
  }
}
