.product-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: white;
  box-sizing: border-box;
  padding: 0px 20px;
  gap: 20px;
  color: #2b3237;
  flex-direction: column;
}

.product-store-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-height: 88%;
  box-sizing: border-box;
  padding: 0px 20px;
  gap: 20px;
  color: #2b3237;
}

.store-info {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
  border-top: 1px solid #2b323729;
}
.store-info p {
  font-family: "Martel Sans", sans-serif;
  text-transform: uppercase;
  border-right: 1px solid #2b32374a;
  padding: 0px 10px;
  cursor: context-menu;
}

.variant-images-selecter {
  width: 20%;
  height: auto;
  display: grid;
  grid-template-columns: 100%;
  grid-row-gap: 20px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}

.variant-image-container {
  width: 100%;
  height: 100%;
}

.variant-image {
  max-width: 100%;
  max-height: 100%;
  opacity: 40%;
  transition: opacity 0.3s ease;
}

.image-transparency {
  opacity: 100%;
}

.variant-image:hover {
  opacity: 70%;
}

.product-variant-image {
  width: 200%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.product-variant-image img {
  max-width: 100%;
  height: 100%;
}

.product-variant-details {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 1%;
  gap: 10px;
}

.product-name {
  color: #2b3237de;
  font-size: 55px;
  margin: 0;
  text-transform: uppercase;
}

.color-variants {
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 6px;
  width: 100%;
  flex-wrap: wrap;
  cursor: pointer;
  flex-direction: row;
}

.color-variants-span {
  padding: 3%;
  border: 1px solid #2b3237;
}

.color-variants-span.selected {
  background-color: #2b3237de;
  color: white;
}

.size-container {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
  /* width: 65%; */
  /* height: 87%; */
  flex-wrap: wrap;
  cursor: pointer;
}

.sizes {
  padding: 0px 10px;
  background-color: white;
  border: 1px solid #2b3237;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 31px;
  height: 33px;
}

.sizes.selected {
  background-color: #2b3237de;
  color: white;
}

.size-container p {
  padding: 1%;
  /* background-color: #ffffff00; */
  text-align: center;
}

.product-category-container {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 10px;
  color: #0088be;
}
.product-category-container p {
  width: 35%;
}

.name-description-container {
  border-bottom: 1px solid #00000038;
  width: 70%;
}
.direction-buttons {
  background: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
  font-size: 20px;
  color: #2b3237;
}

.direction-buttons:hover {
  transform: translateY(-5px);
  color: red;
}

.call-buttons {
  background: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
  font-size: 20px;
  color: #2b3237;
  cursor: copy;
}

.call-buttons:hover {
  transform: translateY(-5px);
  color: rgb(43, 214, 0);
}
